<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bro.broreminder">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.BroReminder">
        <service
            android:name="com.bro.broreminder.utils.OverlayService"
            android:exported="false" />
        <service
            android:name="com.bro.broreminder.voice.VoiceWizardService"
            android:exported="false" />
        <receiver
            android:name="com.bro.broreminder.receiver.ReminderReceiver"
            android:exported="false" />
        <receiver
            android:name="com.bro.broreminder.receiver.DailyReportReceiver"
            android:exported="false" />
        <receiver
            android:name="com.bro.broreminder.receiver.EmailReportReceiver"
            android:exported="false" />
        <receiver
            android:name="com.bro.broreminder.receiver.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.bro.broreminder.voice.VoiceTriggerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.bro.reminder.VOICE_CREATE_START"/>
                <action android:name="com.bro.broreminder.ACTION_START_WIZARD"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.bro.broreminder.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.bro.broreminder.activities.ReportActivity" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
